.product__main {
	.site-panel {
		.downoad {
			padding: 0 20px 0 0;
		}
		.form__action {
			.primary-tint {
				height: 30px;
				font-size: 13px;
				padding: 5px 20px 5px 15px;
			}
			.icon-add {
				padding: 0 10px 0 0;
				font-size: 10px;
				color: #fff;
				position: absolute;
			}
		}
	}
}