.profile__main {
	.site-panel {
		justify-content: flex-start;
	}
		.form__action{ 
			padding: 0 20px 0 0 ;}
			.profile__img{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.profile--img {
				img{
					width: 250px;
					height: 250px;
					object-fit: cover;
				}
			}
			.upload {

				.custom-photo-upload {
					display: inline-block;
					padding: 8px 48px;
					cursor: pointer;
					font-size: 16px;
					border-radius: 5px;
				}

				input[type=file] {
					display: none;
				}
			}
		}