.report__main {
	.site-panel {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 0 0 10px;

		.downoad {
			padding: 0 0 0 20px;
		}

		.form__module {
			margin: 0;
		}
	}
	.workboard {
		.subheading {
			margin: 0 0 10px 0;
		}
	}
	.info {
		.form__set {
			display: flex;
			#enddate {
				margin: 0 0 0 10px;
			}
		}
	}
	.tbl-wrap {
		table {
			box-shadow: 0 1rem 3rem rgba(132, 139, 200, 0.1);
			th {
				background: $primary;
				color: $white;
				line-height: 1.5;
			}
			td {
				text-align: center;
				line-height: 1.5;
			}
		}
	}
}