.text-default {
	color: $default;
}

.text-light {
	color: $light;
}

.text-medium {
	color: $medium;
}

.text-dark {
	color: $dark;
}

.text-primary {
	color: $primary;
}

.text-primary-variant {
	color: $primary-variant;
}

.text-secondary {
	color: $secondary;
}

.text-secondary-variant {
	color: $secondary-variant;
}

.text-tertiary {
	color: $tertiary;
}

.text-tertiary-variant {
	color: $tertiary-variant;
}

.text-success {
	color: $success;
}

.text-danger {
	color: $error;
}

.text-warning {
	color: $warning;
}

.text-info {
	color: $info;
}

.text-cross {
	text-decoration: line-through;
}


// background

.bg-default {
	background: $default;
}

.bg-light {
	background: $light;
}

.bg-medium {
	background: $medium;
}

.bg-dark {
	background: $dark;
}

.bg-primary {
	background: $primary;
}

.bg-primary-variant {
	background: $primary-variant;
}

.bg-secondary {
	background: $secondary;
}

.bg-secondary-variant {
	background: $secondary-variant;
}

.bg-tertiary {
	background: $tertiary;
}

.bg-tertiary-variant {
	background: $tertiary-variant;
}

.bg-success {
	background: $success;
}

.bg-danger {
	background: $error;
}

.bg-warning {
	background: $warning;
}

.bg-info {
	background: $info;
}